.panel {
  box-shadow: none;
  border-radius: 0!important;
  
  .panel-body {
    .input-control {
      width: 400px;
      margin-bottom: 10px;
  
      .form-control {
        padding-left: 106px!important;
      }
    
      .input-control-label-left {
        width: 100px;
      }
    }
  
    .cache-time-container,
    .file-uploader-container,
    .smtp-port-container {
      width: 180px;
    }

    .btn-container {
      width: 400px;
      text-align: center;
    }
  }
}