body {
  background-color: #fff;
}

.container {
  padding: 0!important;
}

.side-col .cell {
  padding: 0px;
}

.side-col #legendProjectAndTask .list-unstyled {
  padding: 10px;
  border: 1px solid #ddd;
  border-top: 0px;
  margin: 0px;
}

.tab-pane table {
  border: 1px solid #ddd;
  border-top: none;
}

.thWidth {
  width: 80px !important;
}

.effortThWidth {
  width: 70px !important;
}

.histories-list>li {
  word-break: break-word;
  word-wrap: break-word;
}

.comment .comment-content {
  width: 98%
}

.cell {
  border: 1px solid #efefef;
}