@font-face
{
  font-family: 'ZenIcon';
  src:url('fonts/ZenIcon.eot');
  src:url('fonts/ZenIcon.eot?#iefix') format('embedded-opentype'),
    url('fonts/ZenIcon.ttf') format('truetype'),
    url('fonts/ZenIcon.woff') format('woff'),
    url('fonts/ZenIcon.svg#ZenIcon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="icon-"] {
  font-family: 'ZenIcon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-insert-template:before { content: "\e768"; }
.icon-stack:before { content: "\e769"; }
.icon-chrome:before { content: "\e76c"; }
.icon-firefox:before { content: "\e76d"; }
.icon-ie:before { content: "\e76e"; }
.icon-opera:before { content: "\e76f"; }
.icon-safari:before { content: "\e770"; }
.icon-usecases:before { content: "\e600"; }
.icon-tasks:before { content: "\e601"; }
.icon-glass:before { content: "\e733"; }
.icon-music:before { content: "\e745"; }
.icon-search:before { content: "\e746"; }
.icon-envelope:before { content: "\e734"; }
.icon-heart:before { content: "\e735"; }
.icon-star:before { content: "\e736"; }
.icon-star-empty:before { content: "\e737"; }
.icon-user:before { content: "\e738"; }
.icon-film:before { content: "\e739"; }
.icon-th-large:before { content: "\e73a"; }
.icon-th:before { content: "\e73b"; }
.icon-th-list:before { content: "\e73c"; }
.icon-ok:before { content: "\e73d"; }
.icon-remove:before { content: "\e73e"; }
.icon-zoom-in:before { content: "\e73f"; }
.icon-zoom-out:before { content: "\e740"; }
.icon-off:before { content: "\e741"; }
.icon-signal:before { content: "\e742"; }
.icon-cog:before { content: "\e743"; }
.icon-trash:before { content: "\e744"; }
.icon-home:before { content: "\e602"; }
.icon-file:before { content: "\e603"; }
.icon-time:before { content: "\e604"; }
.icon-road:before { content: "\e605"; }
.icon-download-alt:before { content: "\e606"; }
.icon-download:before { content: "\e607"; }
.icon-upload:before { content: "\e608"; }
.icon-inbox:before { content: "\e609"; }
.icon-play-circle:before { content: "\e60a"; }
.icon-repeat:before { content: "\e60b"; }
.icon-refresh:before { content: "\e60c"; }
.icon-list-alt:before { content: "\e60d"; }
.icon-lock:before { content: "\e60e"; }
.icon-flag:before { content: "\e60f"; }
.icon-headphones:before { content: "\e610"; }
.icon-volume-off:before { content: "\e611"; }
.icon-volume-down:before { content: "\e612"; }
.icon-volume-up:before { content: "\e613"; }
.icon-qrcode:before { content: "\e614"; }
.icon-barcode:before { content: "\e615"; }
.icon-tag:before { content: "\e749"; }
.icon-tags:before { content: "\e74a"; }
.icon-book:before { content: "\e616"; }
.icon-bookmark:before { content: "\e617"; }
.icon-print:before { content: "\e618"; }
.icon-camera:before { content: "\e619"; }
.icon-font:before { content: "\e61a"; }
.icon-bold:before { content: "\e61b"; }
.icon-italic:before { content: "\e61c"; }
.icon-text-height:before { content: "\e61d"; }
.icon-text-width:before { content: "\e61e"; }
.icon-align-left:before { content: "\e61f"; }
.icon-align-center:before { content: "\e620"; }
.icon-align-right:before { content: "\e621"; }
.icon-align-justify:before { content: "\e622"; }
.icon-list:before { content: "\e623"; }
.icon-indent-left:before { content: "\e624"; }
.icon-indent-right:before { content: "\e625"; }
.icon-facetime-video:before { content: "\e626"; }
.icon-picture:before { content: "\e627"; }
.icon-pencil:before { content: "\e748"; }
.icon-map-marker:before { content: "\e747"; }
.icon-adjust:before { content: "\e628"; }
.icon-tint:before { content: "\e629"; }
.icon-edit:before { content: "\e62a"; }
.icon-share:before { content: "\e62b"; }
.icon-check:before { content: "\e62c"; }
.icon-move:before { content: "\e62d"; }
.icon-step-backward:before { content: "\e62e"; }
.icon-fast-backward:before { content: "\e62f"; }
.icon-backward:before { content: "\e630"; }
.icon-play:before { content: "\e631"; }
.icon-pause:before { content: "\e632"; }
.icon-stop:before { content: "\e633"; }
.icon-forward:before { content: "\e634"; }
.icon-fast-forward:before { content: "\e635"; }
.icon-step-forward:before { content: "\e636"; }
.icon-eject:before { content: "\e637"; }
.icon-chevron-left:before { content: "\e638"; }
.icon-chevron-right:before { content: "\e639"; }
.icon-plus-sign2:before { content: "\e74c"; }
.icon-minus-sign:before { content: "\e74b"; }
.icon-remove-sign:before { content: "\e63a"; }
.icon-ok-sign:before { content: "\e63b"; }
.icon-question-sign:before { content: "\e63c"; }
.icon-info-sign:before { content: "\e63d"; }
.icon-screenshot:before { content: "\e63e"; }
.icon-remove-circle:before { content: "\e63f"; }
.icon-ok-circle:before { content: "\e640"; }
.icon-ban-circle:before { content: "\e641"; }
.icon-arrow-left:before { content: "\e642"; }
.icon-arrow-right:before { content: "\e643"; }
.icon-arrow-up:before { content: "\e644"; }
.icon-arrow-down:before { content: "\e645"; }
.icon-share-alt:before { content: "\e646"; }
.icon-resize-full:before { content: "\e647"; }
.icon-resize-small:before { content: "\e648"; }
.icon-plus:before { content: "\e649"; }
.icon-minus:before { content: "\e64a"; }
.icon-asterisk:before { content: "\e64b"; }
.icon-exclamation-sign:before { content: "\e74d"; }
.icon-gift:before { content: "\e74e"; }
.icon-leaf:before { content: "\e64c"; }
.icon-fire:before { content: "\e64d"; }
.icon-eye-open:before { content: "\e64e"; }
.icon-eye-close:before { content: "\e64f"; }
.icon-warning-sign:before { content: "\e650"; }
.icon-plane:before { content: "\e651"; }
.icon-calendar:before { content: "\e652"; }
.icon-random:before { content: "\e653"; }
.icon-comment:before { content: "\e654"; }
.icon-magnet:before { content: "\e655"; }
.icon-chevron-up:before { content: "\e656"; }
.icon-chevron-down:before { content: "\e657"; }
.icon-retweet:before { content: "\e658"; }
.icon-shopping-cart:before { content: "\e659"; }
.icon-folder-close:before { content: "\e65a"; }
.icon-folder-open:before { content: "\e65b"; }
.icon-resize-vertical:before { content: "\e65c"; }
.icon-resize-horizontal:before { content: "\e65d"; }
.icon-bar-chart:before { content: "\e750"; }
.icon-twitter-sign:before { content: "\e74f"; }
.icon-facebook-sign:before { content: "\e65e"; }
.icon-camera-retro:before { content: "\e65f"; }
.icon-key:before { content: "\e660"; }
.icon-cogs:before { content: "\e661"; }
.icon-comments:before { content: "\e662"; }
.icon-thumbs-up:before { content: "\e663"; }
.icon-thumbs-down:before { content: "\e664"; }
.icon-star-half:before { content: "\e665"; }
.icon-heart-empty:before { content: "\e666"; }
.icon-signout:before { content: "\e667"; }
.icon-linkedin-sign:before { content: "\e668"; }
.icon-pushpin:before { content: "\e669"; }
.icon-external-link:before { content: "\e66a"; }
.icon-signin:before { content: "\e66b"; }
.icon-trophy:before { content: "\e66c"; }
.icon-github-sign:before { content: "\e66d"; }
.icon-upload-alt:before { content: "\e66e"; }
.icon-lemon:before { content: "\e66f"; }
.icon-phone:before { content: "\e751"; }
.icon-check-empty:before { content: "\e752"; }
.icon-bookmark-empty:before { content: "\e670"; }
.icon-phone-sign:before { content: "\e671"; }
.icon-twitter:before { content: "\e672"; }
.icon-facebook:before { content: "\e673"; }
.icon-github:before { content: "\e674"; }
.icon-unlock:before { content: "\e675"; }
.icon-credit:before { content: "\e676"; }
.icon-rss:before { content: "\e677"; }
.icon-hdd:before { content: "\e678"; }
.icon-bullhorn:before { content: "\e679"; }
.icon-bell:before { content: "\e67a"; }
.icon-certificate:before { content: "\e67b"; }
.icon-hand-right:before { content: "\e67c"; }
.icon-hand-left:before { content: "\e67d"; }
.icon-hand-up:before { content: "\e67e"; }
.icon-hand-down:before { content: "\e67f"; }
.icon-circle-arrow-left:before { content: "\e680"; }
.icon-circle-arrow-right:before { content: "\e681"; }
.icon-circle-arrow-up:before { content: "\e754"; }
.icon-circle-arrow-down:before { content: "\e753"; }
.icon-globe:before { content: "\e682"; }
.icon-wrench:before { content: "\e683"; }
.icon-tasks:before { content: "\e684"; }
.icon-filter:before { content: "\e685"; }
.icon-briefcase:before { content: "\e686"; }
.icon-fullscreen:before { content: "\e687"; }
.icon-group:before { content: "\e688"; }
.icon-link:before { content: "\e689"; }
.icon-cloud:before { content: "\e68a"; }
.icon-beaker:before { content: "\e68b"; }
.icon-cut:before { content: "\e68c"; }
.icon-copy:before { content: "\e68d"; }
.icon-paper-clip:before { content: "\e68e"; }
.icon-save:before { content: "\e68f"; }
.icon-sign-blank:before { content: "\e690"; }
.icon-reorder:before { content: "\e691"; }
.icon-list-ul:before { content: "\e692"; }
.icon-list-ol:before { content: "\e693"; }
.icon-strikethrough:before { content: "\e755"; }
.icon-underline:before { content: "\e756"; }
.icon-table:before { content: "\e694"; }
.icon-magic:before { content: "\e695"; }
.icon-truck:before { content: "\e696"; }
.icon-pinterest:before { content: "\e697"; }
.icon-pinterest-sign:before { content: "\e698"; }
.icon-google-plus-sign:before { content: "\e699"; }
.icon-google-plus:before { content: "\e69a"; }
.icon-money:before { content: "\e69b"; }
.icon-caret-down:before { content: "\e69c"; }
.icon-caret-up:before { content: "\e69d"; }
.icon-caret-left:before { content: "\e69e"; }
.icon-caret-right:before { content: "\e69f"; }
.icon-columns:before { content: "\e6a0"; }
.icon-sort:before { content: "\e6a1"; }
.icon-sort-down:before { content: "\e6a2"; }
.icon-sort-up:before { content: "\e6a3"; }
.icon-envelope-alt:before { content: "\e6a4"; }
.icon-linkedin:before { content: "\e6a5"; }
.icon-undo:before { content: "\e758"; }
.icon-legal:before { content: "\e757"; }
.icon-dashboard:before { content: "\e6a6"; }
.icon-comment-alt:before { content: "\e6a7"; }
.icon-comments-alt:before { content: "\e6a8"; }
.icon-bolt:before { content: "\e6a9"; }
.icon-sitemap:before { content: "\e6aa"; }
.icon-umbrella:before { content: "\e6ab"; }
.icon-paste:before { content: "\e6ac"; }
.icon-lightbulb:before { content: "\e6ad"; }
.icon-exchange:before { content: "\e6ae"; }
.icon-cloud-download:before { content: "\e6af"; }
.icon-cloud-upload:before { content: "\e6b0"; }
.icon-user-md:before { content: "\e6b1"; }
.icon-stethoscope:before { content: "\e6b2"; }
.icon-suitcase:before { content: "\e6b3"; }
.icon-bell-alt:before { content: "\e6b4"; }
.icon-coffee:before { content: "\e6b5"; }
.icon-food:before { content: "\e6b6"; }
.icon-file-alt:before { content: "\e6b7"; }
.icon-building:before { content: "\e759"; }
.icon-hospital:before { content: "\e75a"; }
.icon-ambulance:before { content: "\e6b8"; }
.icon-medkit:before { content: "\e6b9"; }
.icon-fighter-jet:before { content: "\e6ba"; }
.icon-beer:before { content: "\e6bb"; }
.icon-h-sign:before { content: "\e6bc"; }
.icon-plus-sign:before { content: "\e6bd"; }
.icon-double-angle-left:before { content: "\e6be"; }
.icon-double-angle-right:before { content: "\e6bf"; }
.icon-double-angle-up:before { content: "\e6c0"; }
.icon-double-angle-down:before { content: "\e6c1"; }
.icon-angle-left:before { content: "\e6c2"; }
.icon-angle-right:before { content: "\e6c3"; }
.icon-angle-up:before { content: "\e6c4"; }
.icon-angle-down:before { content: "\e6c5"; }
.icon-desktop:before { content: "\e6c6"; }
.icon-laptop:before { content: "\e6c7"; }
.icon-tablet:before { content: "\e6c8"; }
.icon-mobile:before { content: "\e6c9"; }
.icon-circle-blank:before { content: "\e766"; }
.icon-quote-left:before { content: "\e765"; }
.icon-quote-right:before { content: "\e6ca"; }
.icon-spinner:before { content: "\e6cb"; }
.icon-circle:before { content: "\e6cc"; }
.icon-reply:before { content: "\e6cd"; }
.icon-github-alt:before { content: "\e6ce"; }
.icon-folder-close-alt:before { content: "\e6cf"; }
.icon-folder-open-alt:before { content: "\e6d0"; }
.icon-expand-alt:before { content: "\e6d1"; }
.icon-collapse-alt:before { content: "\e6d2"; }
.icon-smile:before { content: "\e6d3"; }
.icon-frown:before { content: "\e6d4"; }
.icon-meh:before { content: "\e6d5"; }
.icon-gamepad:before { content: "\e6d6"; }
.icon-keyboard:before { content: "\e6d7"; }
.icon-flag-alt:before { content: "\e6d8"; }
.icon-flag-checkered:before { content: "\e6d9"; }
.icon-terminal:before { content: "\e6da"; }
.icon-code:before { content: "\e6db"; }
.icon-reply-all:before { content: "\e767"; }
.icon-star-half-full:before { content: "\e763"; }
.icon-location-arrow:before { content: "\e6dc"; }
.icon-crop:before { content: "\e6dd"; }
.icon-code-fork:before { content: "\e6de"; }
.icon-unlink:before { content: "\e6df"; }
.icon-question:before { content: "\e6e0"; }
.icon-info:before { content: "\e6e1"; }
.icon-exclamation:before { content: "\e6e2"; }
.icon-superscript:before { content: "\e6e3"; }
.icon-subscript:before { content: "\e6e4"; }
.icon-eraser:before { content: "\e6e5"; }
.icon-puzzle:before { content: "\e6e6"; }
.icon-microphone:before { content: "\e6e7"; }
.icon-microphone-off:before { content: "\e6e8"; }
.icon-shield:before { content: "\e6e9"; }
.icon-calendar-empty:before { content: "\e6ea"; }
.icon-fire-extinguisher:before { content: "\e6eb"; }
.icon-rocket:before { content: "\e6ec"; }
.icon-maxcdn:before { content: "\e6ed"; }
.icon-chevron-sign-left:before { content: "\e761"; }
.icon-chevron-sign-right:before { content: "\e762"; }
.icon-chevron-sign-up:before { content: "\e764"; }
.icon-chevron-sign-down:before { content: "\e6ee"; }
.icon-html5:before { content: "\e6ef"; }
.icon-css3:before { content: "\e6f0"; }
.icon-anchor:before { content: "\e6f1"; }
.icon-unlock-alt:before { content: "\e6f2"; }
.icon-bullseye:before { content: "\e6f3"; }
.icon-ellipsis-horizontal:before { content: "\e6f4"; }
.icon-ellipsis-vertical:before { content: "\e6f5"; }
.icon-rss-sign:before { content: "\e6f6"; }
.icon-play-sign:before { content: "\e6f7"; }
.icon-ticket:before { content: "\e6f8"; }
.icon-minus-sign-alt:before { content: "\e6f9"; }
.icon-check-minus:before { content: "\e6fa"; }
.icon-level-up:before { content: "\e6fb"; }
.icon-level-down:before { content: "\e6fc"; }
.icon-check-sign:before { content: "\e6fd"; }
.icon-edit-sign:before { content: "\e6fe"; }
.icon-external-link-sign:before { content: "\e760"; }
.icon-share-sign:before { content: "\e75f"; }
.icon-compass:before { content: "\e6ff"; }
.icon-collapse:before { content: "\e700"; }
.icon-collapse-top:before { content: "\e701"; }
.icon-expand:before { content: "\e702"; }
.icon-euro:before { content: "\e703"; }
.icon-gbp:before { content: "\e704"; }
.icon-dollar:before { content: "\e705"; }
.icon-rupee:before { content: "\e706"; }
.icon-yen:before { content: "\e707"; }
.icon-renminbi:before { content: "\e708"; }
.icon-won:before { content: "\e709"; }
.icon-bitcoin:before { content: "\e70a"; }
.icon-file2:before { content: "\e70b"; }
.icon-file-text:before { content: "\e70c"; }
.icon-sort-by-alphabet:before { content: "\e70d"; }
.icon-sort-by-alphabet-alt:before { content: "\e70e"; }
.icon-sort-by-attributes:before { content: "\e70f"; }
.icon-sort-by-attributes-alt:before { content: "\e710"; }
.icon-sort-by-order:before { content: "\e75d"; }
.icon-sort-by-order-alt:before { content: "\e75c"; }
.icon-thumbs-up2:before { content: "\e711"; }
.icon-thumbs-down2:before { content: "\e712"; }
.icon-youtube-sign:before { content: "\e713"; }
.icon-youtube:before { content: "\e714"; }
.icon-xing:before { content: "\e715"; }
.icon-xing-sign:before { content: "\e716"; }
.icon-youtube-play:before { content: "\e717"; }
.icon-dropbox:before { content: "\e718"; }
.icon-stackexchange:before { content: "\e719"; }
.icon-instagram:before { content: "\e71a"; }
.icon-flickr:before { content: "\e71b"; }
.icon-adn:before { content: "\e71c"; }
.icon-bitbucket:before { content: "\e71d"; }
.icon-bitbucket-sign:before { content: "\e71e"; }
.icon-tumblr:before { content: "\e71f"; }
.icon-tumblr-sign:before { content: "\e720"; }
.icon-long-arrow-down:before { content: "\e721"; }
.icon-long-arrow-up:before { content: "\e722"; }
.icon-long-arrow-left:before { content: "\e75e"; }
.icon-long-arrow-right:before { content: "\e75b"; }
.icon-apple:before { content: "\e723"; }
.icon-windows:before { content: "\e724"; }
.icon-android:before { content: "\e725"; }
.icon-linux:before { content: "\e726"; }
.icon-dribbble:before { content: "\e727"; }
.icon-skype:before { content: "\e728"; }
.icon-foursquare:before { content: "\e729"; }
.icon-trello:before { content: "\e72a"; }
.icon-female:before { content: "\e72b"; }
.icon-male:before { content: "\e72c"; }
.icon-gittip:before { content: "\e72d"; }
.icon-sun:before { content: "\e72e"; }
.icon-moon:before { content: "\e72f"; }
.icon-archive:before { content: "\e730"; }
.icon-bug:before { content: "\e731"; }
.icon-vk:before { content: "\e732"; }
.icon-weibo:before { content: "\e76a"; }
.icon-renren:before { content: "\e76b"; }
