
.btn-primary .label-badge,
.btn-primary .label-dot {
  background-color: lighten(@btn-primary-bg, 20%)
}
.btn-success .label-badge,
.btn-success .label-dot {
  background-color: darken(@btn-success-bg, 20%)
}
.btn-info .label-badge,
.btn-info .label-dot {
  background-color: darken(@btn-info-bg, 20%)
}
.btn-danger .label-badge,
.btn-danger .label-dot {
  background-color: darken(@btn-danger-bg, 20%)
}
.btn-warning .label-badge,
.btn-warning .label-dot {
  background-color: darken(@btn-warning-bg, 20%)
}
