// highlight backgrounds
hldefault {
  background-color: @state-default-bg;
  a&:hover {
    background-color: darken(@state-default-bg, 10%);
  }
}
.hl-primary {
  background-color: @state-primary-bg;
  a&:hover {
    background-color: darken(@state-primary-bg, 10%);
  }
}
.hl-success {
  background-color: @state-success-bg;
  a&:hover {
    background-color: darken(@state-success-bg, 10%);
  }
}
.hl-info {
  background-color: @state-info-bg;
  a&:hover {
    background-color: darken(@state-info-bg, 10%);
  }
}
.hl-warning {
  background-color: @state-warning-bg;
  a&:hover {
    background-color: darken(@state-warning-bg, 10%);
  }
}
.hl-danger {
  background-color: @state-danger-bg;
  a&:hover {
    background-color: darken(@state-danger-bg, 10%);
  }
}
.hl-important {
  background-color: @state-important-bg;
  a&:hover {
    background-color: darken(@state-important-bg, 10%);
  }
}
.hl-special {
  background-color: @state-special-bg;
  a&:hover {
    background-color: darken(@state-special-bg, 10%);
  }
}
