apps/
node_modules/
build/
*.sublime-project
*.sublime-workspace
*.code-workspace
ISSUES.md
/*.zip
*custom.*
*test.*
dist/lib/kindeditor/plugins
zui.templates.json
templates/
template/node_modules/
template/dist/
