a {
  color: #9a5b21;
}
a:hover,
a:focus {
  color: #5b3614;
}
.btn-primary {
  color: #ffffff;
  background-color: #e67f22;
  border-color: #b66115;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #c96b17;
  border-color: #9f5512;
  -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #e67f22;
  border-color: #d67218;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #c96b17;
  border-color: #9f5512;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #e67f22;
  border-color: #d67218;
}
.btn-link {
  color: #9a5b21;
}
.btn-link:hover,
.btn-link:focus {
  color: #5b3614;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #dddddd;
}
.label-primary {
  background-color: #e67f22;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  color: #fff;
  background-color: #bf6616;
}
.label-primary.label-circle {
  background: none;
  border: 1px solid #e67f22;
  color: #e67f22;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #bf6616;
}
.btn-primary .label-badge,
.btn-primary .label-dot {
  background-color: #f0b47e;
}
.text-primary {
  color: #e67f22;
}
.text-primary:hover {
  color: #bf6616;
}
.text-muted a:hover,
.text-muted a:active {
  color: #9a5b21;
}
.text-link:hover,
.text-link:active {
  color: #9a5b21;
}
.bg-primary {
  background-color: #e67f22;
}
a.bg-primary:hover {
  background-color: #bf6616;
}
.highlight-primary {
  background-color: #f9f0eb;
}
a.highlight-primary:hover {
  background-color: #edd3c4;
}
.form-control:focus {
  border-color: #9a5b21;
  outline: 0;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(154, 91, 33, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(154, 91, 33, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(154, 91, 33, 0.6);
}
.form-control:focus {
  border-color: #9a5b21;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(154, 91, 33, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(154, 91, 33, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(154, 91, 33, 0.6);
}
a.list-group-item:hover,
a.list-group-item:focus {
  text-decoration: none;
  background-color: #f9f0eb;
  color: #333333;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #e67f22;
  border-color: #e67f22;
}
.navbar-inverse {
  background-color: #9a5b21;
  border-color: #704218;
}
.navbar-inverse .navbar-nav > li.nav-heading {
  background-color: #854e1d;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: #b46927;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #c4732a;
}
.navbar-inverse .navbar-toggle {
  border-color: #c4732a;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #854e1d;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #7d491b;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #c4732a;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #704218;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #b46927;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: #c4732a;
  }
}
.navbar-fixed-left.navbar-inverse .navbar-header,
.navbar-fixed-left.navbar-inverse .navbar-nav {
  border-bottom: 1px solid #c4732a;
  -moz-box-shadow: inset 0 -1px 0 #704218;
  -webkit-box-shadow: inset 0 -1px 0 #704218;
  box-shadow: inset 0 -1px 0 #704218;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: #9a5b21;
}
.nav .open > a .caret,
.nav .open > a:hover .caret,
.nav .open > a:focus .caret {
  border-top-color: #5b3614;
  border-bottom-color: #5b3614;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #e67f22;
}
.nav-primary > li.active > a,
.nav-primary > li.active > a:hover,
.nav-primary > li.active > a:focus {
  background-color: #e67f22;
  border-color: #e67f22;
}
.nav-secondary > li.active > a,
.nav-secondary > li.active > a:hover,
.nav-secondary > li.active > a:focus {
  color: #e67f22;
  border-bottom-color: #e67f22;
}
.nav-secondary > li.active > a .caret,
.nav-secondary > li.active > a:hover .caret,
.nav-secondary > li.active > a:focus .caret {
  border-top-color: #e67f22;
  border-bottom-color: #e67f22;
}
.nav-stacked.nav-secondary > li.active > a,
.nav-stacked.nav-secondary > li.active > a:hover,
.nav-stacked.nav-secondary > li.active > a:focus {
  -moz-box-shadow: inset -2px 0 0 #e67f22;
  -webkit-box-shadow: inset -2px 0 0 #e67f22;
  box-shadow: inset -2px 0 0 #e67f22;
}
.nav .caret {
  border-top-color: #9a5b21;
  border-bottom-color: #9a5b21;
}
.nav a:hover .caret {
  border-top-color: #5b3614;
  border-bottom-color: #5b3614;
}
.pager > .active > a,
.pager > .active > span,
.pager > .active > a:hover,
.pager > .active > span:hover,
.pager > .active > a:focus,
.pager > .active > span:focus {
  background-color: #e67f22;
}
.panel-primary {
  border-color: #e67f22;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #e67f22;
  border-color: #e67f22;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #e67f22;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #e67f22;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #e67f22;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #e67f22;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f9f0eb;
}
.table tr > td.active,
.table tr > th.active,
.table tr.active > td,
.table tr.active > th {
  background-color: #f9f0eb;
}
table.tablesorter thead tr .headerSortUp:after,
table.tablesorter thead tr .headerSortDown:after {
  color: #9a5b21 !important;
}
.chosen-container-single .chosen-search:focus {
  border-color: #9a5b21 !important;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #e67f22 !important;
}
.chosen-container-active .chosen-single {
  border-color: #9a5b21 !important;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border-color: #cbcbcb !important;
  border-color: rgba(0, 0, 0, 0.15) !important;
}
.chosen-container-active .chosen-choices {
  border-color: #9a5b21 !important;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #e67f22;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #e67f22;
}
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background-color: #e67f22;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.datetimepicker td.day.today {
  background-color: #e48600 !important;
  border-color: #e48600 !important;
}
.datetimepicker td.day.active {
  background-color: #e67f22 !important;
  border-color: #bf6616 !important;
}
.datetimepicker td.day.active:hover {
  background-color: #bf6616 !important;
}
.datetimepicker td.day.today:hover,
.datetimepicker td.day.today.active:hover {
  background-color: #b16800 !important;
}
.ke-container.focus {
  border-color: #9a5b21 !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(154, 91, 33, 0.6)!important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(154, 91, 33, 0.6)!important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(154, 91, 33, 0.6)!important;
}
.ke-menu-item-on {
  background-color: #e67f22 !important;
}
.ke-colorpicker-cell-on {
  background-color: #e67f22 !important;
}
.ke-input-text:focus {
  border-color: #9a5b21 !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(154, 91, 33, 0.6)!important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(154, 91, 33, 0.6)!important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(154, 91, 33, 0.6)!important;
}
.messager-primary {
  background-color: #e67f22;
}
.comment:hover > .content > .actions > a {
  color: #9a5b21;
}
