body.hide-menu {
  #header {
    .brand-container {
      width: 0px;
    }

    .icon-bars {
      display: inline-block!important;
    }

    .icon-times {
      display: none!important;
    }
  }

  #side {
    width: 0px;
  }

  #main {
    left: 0px;
  }
}
