/**
 * Custom style for zui
 * -------------------------------------------------------------------------- */
.vp-doc > div > h3 {
    @apply -mb-2;
}
.vp-doc [class*='language-'] code {
    @apply -px-0
}
.VPSidebar > .nav {
    @apply -block;
}
