/**
 * Custom style for zui
 * -------------------------------------------------------------------------- */
.Layout {
  font-size: 1rem;
}

.vp-doc > div > h3 {
    @apply -mb-2;
}
.VPSidebar > .nav {
    @apply -block;
}
.VPSidebarItem .caret {
    @apply -border-none;
}
.VPNavBarMenu.menu {
    @apply -shadow-none -border-none -bg-transparent;
}

.VPSidebarItem .text {
  @apply -flex -flex-row -justify-between -items-center;
}
.VPSidebarItem .text > code {
  @apply -text-sm -text-[--vp-c-text-2] -bg-[--vp-c-gutter] -rounded-full -py-0.5 -px-1 -leading-none;
}
.VPSidebarItem.is-active .text > code {
  @apply -text-[--vp-c-brand] -bg-[--vp-c-brand-dim];
}

.-bg-stripes-blue {
    background-color: #60a5fa1a;
    background-image: linear-gradient(135deg,#3b82f680 10%,#0000 0,#0000 50%,#3b82f680 0,#3b82f680 60%,#0000 0,#0000);
    background-size: 7.07px 7.07px;
}

button.DocSearch-Button {
  @apply -bg-[--vp-c-bg-alt];
}

.custom-block.warning:hover {
  @apply -text-[--vp-custom-block-warning-text];
}

.hover-scale {
  @apply -transition-[transform] hover:-scale-105 hover:-z-10;
}
.hover-scale-shadow {
  @apply -transition-[transform,box-shadow] hover:-scale-105 hover:-shadow-md hover:-z-10;
}
