// Colorset
@color-primary: #3280fc;
@color-secondary: desaturate(darken(@color-primary, 10%), 10%);
@color-fore: #d9d9d9;
@color-back: #141414;

@color-red: #FF5722;
@color-yellow: #FFEB3B;
@color-green: #8BC34A;
@color-blue: #03A9F4;
@color-purple: #D500F9;
@color-brown: #FF4081;

@link-color: @brand-color;
@link-bgcolor:@color-back;
@link-hover-color: @color-primary;
@link-hover-bgcolor: #252525;

@box-shadow-color: rgba(0, 0, 0, .08);

@brand-color: #b5bbc1;
@brand-bgcolor: @color-back;
@brand-border-color: #0e0c0c;

@nav-item-color: rgba(255, 255, 255, 0.65);;
@nav-item-native-color: #fff;
@nav-item-border-color: #0e0c0c;

@sidebar-bgcolor:@color-back;

@main-bgcolor: #ddd;


// Scroll bar
@scrollbar-radius: 0;

// Font size.
@font-size-base: 14px;
@font-size-large: 18px;
@font-size-small: 12px;

@font-size-h1: 30px;
@font-size-h2: 24px;
@font-size-h3: 20px;
@font-size-h4: 16px;
@font-size-h5: 14px;
@font-size-h6: 12px;

// Line height.
@line-height-base: (20/14); // 20/13
@line-height-computed: 20px;
