<nav id="navbar" class="navbar navbar-inverse navbar-fixed-left" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/zui">ZUI</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="nav-heading">开始</li>
      <li><a href="start.html">框架说明</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="nav-heading">基础</li>
      <li><a href="basic.html#global">全局样式表</a></li>
      <li><a href="basic.html#ie">兼容IE浏览器</a></li>
      <li><a href="basic.html#responsive">响应式设计</a></li>
      <li><a href="basic.html#">栅格系统</a></li>
      <li><a href="basic.html#type">文字排版</a></li>
      <li><a href="basic.html#colorset">配色</a></li>
      <li><a href="basic.html#scrollbars">滚动条</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="nav-heading">控件</li>
      <li><a href="controls.html#icons">图标</a></li>
      <li><a href="controls.html#buttons">按钮</a></li>
      <li><a href="controls.html#progress">进度条</a></li>
      <li><a href="controls.html#labels">标签</a></li>
      <li><a href="controls.html#textbox">文本框</a></li>
      <li><a href="controls.html#breadcrumb">面包屑</a></li>
      <li><a href="controls.html#images">图片</a></li>
      <li><a href="controls.html#headers">标题</a></li>
      <li><a href="controls.html#dividers">分隔</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="nav-heading">组件</li>
      <li><a href="components.html#alerts">消息框</a></li>
      <li><a href="components.html#code">代码</a></li>
      <li><a href="components.html#inputgroup">输入组</a></li>
      <li><a href="components.html#listgroup">列表组</a></li>
      <li><a href="components.html#navs">导航</a></li>
      <li><a href="components.html#navbars">导航条</a></li>
      <li><a href="components.html#pagers">分页器</a></li>
      <li><a href="components.html#panels">面板</a></li>
      <li><a href="components.html#tables">表格</a></li>
      <li><a href="components.html#buttongroup">按钮组</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="nav-heading">Javascript组件</li>
      <li><a href="###">过渡动画</a></li>
      <li><a href="###">折叠</a></li>
      <li><a href="###">标签页</a></li>
      <li><a href="###">幻灯片</a></li>
      <li><a href="###">下来菜单</a></li>
      <li><a href="###">富文本编辑器</a></li>
      <li><a href="###">灯箱预览</a></li>
      <li><a href="###">模态框</a></li>
      <li><a href="###">系统对话框</a></li>
      <li><a href="###">工具提示</a></li>
      <li><a href="###">提示面板</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="nav-heading">视图</li>
      <li><a href="views.html#form">表单</a></li>
      <li><a href="###">文章</a></li>
      <li><a href="###">卡片</a></li>
      <li><a href="###">列表</a></li>
      <li><a href="###">评论</a></li>
    </ul>
  </div>
</nav>
