<nav class="navbar navbar-inverse navbar-fixed-left" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/zui">ZUI</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="nav navbar-nav">
      <li class="nav-heading">起步</li>
      <li><a href="###">开始</a></li>
      <li><a href="###">代码规范</a></li>
      <li><a href="###">框架规范</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="nav-heading">基础</li>
      <li><a href="###">栅格系统</a></li>
      <li><a href="###">文字排版</a></li>
      <li><a href="###">兼容IE浏览器</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="nav-heading">控件</li>
      <li><a href="###">按钮</a></li>
      <li><a href="###">标签</a></li>
      <li><a href="###">图片</a></li>
      <li><a href="###">进度条</a></li>
      <li><a href="###">标题</a></li>
      <li><a href="###">图标</a></li>
      <li><a href="###">分隔</a></li>
      <li><a href="###">面包屑</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="nav-heading">组件</li>
      <li><a href="###">警告框</a></li>
      <li><a href="###">代码</a></li>
      <li><a href="###">表单</a></li>
      <li><a href="###">输入组</a></li>
      <li><a href="###">列表组</a></li>
      <li><a href="###">导航</a></li>
      <li><a href="###">导航条</a></li>
      <li><a href="###">分页器</a></li>
      <li><a href="###">面板</a></li>
      <li><a href="###">表格</a></li>
      <li><a href="###">按钮组</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="nav-heading">Javascript组件</li>
      <li><a href="###">过渡动画</a></li>
      <li><a href="###">幻灯片</a></li>
      <li><a href="###">下来菜单</a></li>
      <li><a href="###">Kindediter</a></li>
      <li><a href="###">灯箱预览</a></li>
      <li><a href="###">模态框</a></li>
      <li><a href="###">系统对话框</a></li>
      <li><a href="###">工具提示</a></li>
      <li><a href="###">提示面板</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="nav-heading">视图</li>
      <li><a href="###">文章</a></li>
      <li><a href="###">卡片</a></li>
      <li><a href="###">列表</a></li>
      <li><a href="###">评论</a></li>
    </ul>
  </div>
</nav>
