* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.page-container {

  .site-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 470px;
    bottom: 0;
    
    background-image: url(https://file06.16sucai.com/2016/0625/b2b79979827bebc76201d8de06a43ec9.jpg);
    background-size: cover;

    .shadow {
      height: 100%;
      padding-left: 150px;
      padding-right: 150px;
      background-color: rgba(0, 0, 0, .2);
      display: flex;
      align-items: center;

      .desc {
        min-height: 300px;

        h1 {
          color: #fff;
          font-size: 48px;
        }

        p {
          color: #eee;
          font-size: 20px;
        }
      }
    }
  }

  .login-main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 470px;
    display: flex;
    justify-content: center;
    align-items: center;

    .tab-content {
      padding-top: 20px;

      .tab-pane {
        min-height: 300px;
      }

      form {
        .table {
          caption {
            font-size: 20px;
            margin-bottom: 10px;
          }
  
          tr {
            height: 60px;
          }
  
          th,
          td {
            border: none;
  
            input {
              width: 300px;
            }
  
            span {
              float: right;
              margin-top: 8px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
