body
{
  background-color: #f1f1f1;
}
article
{
  padding: 40px;
  max-width: 1000px;
  margin: 30px auto;
  background-color: #fafafa;
  border:1px solid #ddd;
  -moz-box-shadow:1px 1px 20px rgba(0,0,0,0.1); -webkit-box-shadow:1px 1px 20px rgba(0,0,0,0.1); box-shadow:1px 1px 20px rgba(0,0,0,0.1);
}
.segment
{
  position: relative;
  padding: 20px 40px;
  margin: 0 -40px 15px;
  box-shadow:inset 0 3px 6px rgba(0, 0, 0, 0.05);
  border-style: solid;
  background-color: #fff;
  border-width: 1px;
  border-left: 0;
  border-right: 0;
  border-color: #DDD;
}
.segment.no-padding
{
  padding: 0;
}