body
{
  background-color: #ffffff;background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZlcnNpb249JzEuMScgd2lkdGg9JzMwMCcgaGVpZ2h0PSczMDAnPgoJPGRlZnM+CgkJPGZpbHRlciBjb2xvci1pbnRlcnBvbGF0aW9uLWZpbHRlcnM9J3NSR0InIGlkPSdmaWx0ZXIzMDAxJz4KCQkJPGZlVHVyYnVsZW5jZSB0eXBlPSdmcmFjdGFsTm9pc2UnIGJhc2VGcmVxdWVuY3k9JzEwMCAuODUnIG51bU9jdGF2ZXM9JzEnLz4KCQk8L2ZpbHRlcj4KCTwvZGVmcz4KCTxyZWN0IGhlaWdodD0nMjAwJScgd2lkdGg9JzIwMCUnIHN0eWxlPSdmaWx0ZXI6dXJsKCNmaWx0ZXIzMDAxKScgLz4KCTxyZWN0IGhlaWdodD0nMjAwJScgd2lkdGg9JzIwMCUnIHN0eWxlPSdmaWxsOiNmZmZmZmY7ZmlsbC1vcGFjaXR5OjAuNzU7Jy8+Cjwvc3ZnPg==');
  position: relative;
  overflow-x: hidden;
  position: relative;
}

a[target='_blank']:hover {position: relative;}
a[target='_blank']:after {transition: all 0.3s; position: absolute; font-family: ZenIcon; font-size: 14px; opacity: 0.5; display: inline-block;top: -1em; opacity: 0; color: #fff; background: #145CCD; width: 20px; height: 20px; text-align: center; border-radius: 10px;}
a[target='_blank']:hover:after {content: '\e684'; opacity: 1; }
a[href^='http://www.cnzz.com/stat/website.php'] {display: none}

/*.navbar-fixed-left {position: absolute;}*/

#navbar
{
  width: 200px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;

  font-size: 13px
}
.navbar-fixed-left.navbar-collapsed .navbar-nav>li.nav-heading:before {font-size: 14px;}

#main
{
  position: relative;
  top: 0;
  padding: 20px 40px;
  margin-left: 200px;
  background-color: #fff;
  max-width: 1200px;
  height: auto;
  -moz-box-shadow: 1px 1px 20px rgba(0,0,0,0.1);
  -webkit-box-shadow: 1px 1px 20px rgba(0,0,0,0.1);
  box-shadow: 1px 1px 20px rgba(0,0,0,0.1);
}

body.without-navbar #main
{
    margin: 0 auto;
}

body > header
{
  position: fixed;
  left: -200px;
  top: 0;
  bottom: 0;
  width: 200px;
  transition: opacity .5s;
  z-index: 1;
  opacity: 0;
}

body.with-navbar > header
{
  left: 0;
  opacity: 1;
}

.alert-promote
{
  margin: -20px -40px 0;
  padding: 20px 40px;
}

@media (max-width: 767px)
{
  body > header {width: 100%; right: 0; bottom: inherit;}
  #navbar.navbar-fixed-left {max-height: 100%; width: 100%; height: auto}
  #main, body.with-navbar #main{margin-left: 0;}
  #main {padding-left: 20px; padding-right: 20px;}
  body.with-navbar #main {padding-top: 60px;}
  .navbar-fixed-left.navbar-inverse .navbar-header {border-bottom: none}
  .navbar-fixed-left .navbar-toggle {display: block;}
  .navbar-fixed-left .navbar-collapse {padding-bottom: 0;}
  .alert-promote {padding: 20px;}
}

.jumbotron
{
  padding: 20px 0;
  font-size: 14px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}
.jumbotron h1
{
  font-size: 48px;
}
.jumbotron hr
{
  margin: 30px 0;
}
.jumbotron .card
{
  text-align: center;
}
.jumbotron a.card[target='_blank']:after {display: none}
.jumbotron .card .img-wrapper
{
  height: 100px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
}
.jumbotron .card img
{
  line-height: 100px;
  display: none;
}
.jumbotron .card img:hover,.jumbotron:hover .card img
{
  background: none
}
.jumbotron h2
{
  margin-bottom: 20px;
}

/* Document section */
#main > section
{
  margin-bottom: 20px;
}

#main > section > h3:before, #main > section > h4:before
{
  position: relative;
  top: 1px;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 8px;
  content: ' ';
  background: #333;
  opacity: .5
}
#main > section > h4:before
{
  border: 3px solid #333;
  background: none;
  top: 2px;
}

/* Page header */
.page-header
{
  padding: 20px 40px;
  margin: 0 -40px 20px -40px;
  background: #EEE;
  color: #333;
  border-bottom: 1px solid #ddd;
}
.page-header > h1,
.page-header > h2
{
  margin: 0;
}
.page-header > h2 > small.label
{
  font-size: 12px;
  padding: 2px 8px;
}
#main > .page-header
{
  color: #fff;
  padding: 40px 0;
  margin-bottom: 0;
  margin-top: -20px;
  text-align: center;
  box-shadow: inset 0 -2px 6px rgba(0,0,0,.10);
  transition: background-position 1s;
  background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nMTYwJyBoZWlnaHQ9JzEwMCcgdmlld0JveD0nMCAwIDgwIDUwJz4KCTxkZWZzPgoJCTxyZWN0IGlkPSdzJyBmaWxsPScjMDAwMDAwJyB3aWR0aD0nNScgaGVpZ2h0PSc1Jy8+Cgk8L2RlZnM+Cgk8ZyBpZD0nYic+Cgk8dXNlIHg9JzAnIHk9JzAnIGZpbGwtb3BhY2l0eT0nMC4wNicgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzUnIHk9JzAnIGZpbGwtb3BhY2l0eT0nMC4wMycgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzEwJyB5PScwJyBmaWxsLW9wYWNpdHk9JzAuMDknIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScxNScgeT0nMCcgZmlsbC1vcGFjaXR5PScwLjA3NTAwMDAwMDAwMDAwMDAxJyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nMjAnIHk9JzAnIGZpbGwtb3BhY2l0eT0nMC4wMycgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzI1JyB5PScwJyBmaWxsLW9wYWNpdHk9JzAuMDYnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSczMCcgeT0nMCcgZmlsbC1vcGFjaXR5PScwLjEwNTAwMDAwMDAwMDAwMDAxJyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nMCcgeT0nNScgZmlsbC1vcGFjaXR5PScwLjA0NScgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzUnIHk9JzUnIGZpbGwtb3BhY2l0eT0nMC4wNicgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzEwJyB5PSc1JyBmaWxsLW9wYWNpdHk9JzAuMDMnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScxNScgeT0nNScgZmlsbC1vcGFjaXR5PScwLjA5JyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nMjAnIHk9JzUnIGZpbGwtb3BhY2l0eT0nMC4wNicgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzI1JyB5PSc1JyBmaWxsLW9wYWNpdHk9JzAuMDQ1JyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nMzAnIHk9JzUnIGZpbGwtb3BhY2l0eT0nMC4wMTUnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSczNScgeT0nNScgZmlsbC1vcGFjaXR5PScwLjA2JyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nMCcgeT0nMTAnIGZpbGwtb3BhY2l0eT0nMC4wNDUnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSc1JyB5PScxMCcgZmlsbC1vcGFjaXR5PScwLjAzJyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nMTAnIHk9JzEwJyBmaWxsLW9wYWNpdHk9JzAuMDknIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScxNScgeT0nMTAnIGZpbGwtb3BhY2l0eT0nMC4wMycgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzIwJyB5PScxMCcgZmlsbC1vcGFjaXR5PScwLjA5JyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nMjUnIHk9JzEwJyBmaWxsLW9wYWNpdHk9JzAuMDYnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSczMCcgeT0nMTAnIGZpbGwtb3BhY2l0eT0nMC4wNDUnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSczNScgeT0nMTAnIGZpbGwtb3BhY2l0eT0nMC4xMDUwMDAwMDAwMDAwMDAwMScgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzAnIHk9JzE1JyBmaWxsLW9wYWNpdHk9JzAuMDYnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSc1JyB5PScxNScgZmlsbC1vcGFjaXR5PScwLjA0NScgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzEwJyB5PScxNScgZmlsbC1vcGFjaXR5PScwLjA3NTAwMDAwMDAwMDAwMDAxJyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nMTUnIHk9JzE1JyBmaWxsLW9wYWNpdHk9JzAuMDQ1JyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nMjUnIHk9JzE1JyBmaWxsLW9wYWNpdHk9JzAuMDknIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSczMCcgeT0nMTUnIGZpbGwtb3BhY2l0eT0nMC4wMTUnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSczNScgeT0nMTUnIGZpbGwtb3BhY2l0eT0nMC4wNDUnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScwJyB5PScyMCcgZmlsbC1vcGFjaXR5PScwLjAxNScgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzUnIHk9JzIwJyBmaWxsLW9wYWNpdHk9JzAuMDknIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScxMCcgeT0nMjAnIGZpbGwtb3BhY2l0eT0nMC4wNDUnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScxNScgeT0nMjAnIGZpbGwtb3BhY2l0eT0nMC4wNzUwMDAwMDAwMDAwMDAwMScgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzIwJyB5PScyMCcgZmlsbC1vcGFjaXR5PScwLjAzJyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nMzAnIHk9JzIwJyBmaWxsLW9wYWNpdHk9JzAuMDc1MDAwMDAwMDAwMDAwMDEnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSczNScgeT0nMjAnIGZpbGwtb3BhY2l0eT0nMC4wMycgeGxpbms6aHJlZj0nI3MnIC8+Cgk8L2c+Cgk8dXNlIHg9Jy00MCcgeT0nMjUnIHRyYW5zZm9ybT0nbWF0cml4KC0xIDAgMCAxIDAgMCknIHhsaW5rOmhyZWY9JyNiJyAvPgoJPHVzZSB4PSctODAnIHk9Jy0zNScgdHJhbnNmb3JtPSdtYXRyaXgoLTEgMCAwIC0xIDAgMCknIHhsaW5rOmhyZWY9JyNiJyAvPgoJPHVzZSB4PSc0MCcgeT0nLTYwJyB0cmFuc2Zvcm09J21hdHJpeCgxIDAgMCAtMSAwIDApJyB4bGluazpocmVmPScjYicgLz4KCTx1c2UgeD0nNDAnIHk9Jy0xMCcgdHJhbnNmb3JtPSdtYXRyaXgoMSAwIDAgLTEgMCAwKScgeGxpbms6aHJlZj0nI2InIC8+Cjwvc3ZnPg==');
}
#main .page-header h2
{
  font-size: 26px;
}
#main > .page-header:hover
{
  background-position: -15px -30px
}

#main > .page-header > h1
{
  font-size: 36px;
  margin: 20px;
}
#main > .page-header > small
{
  opacity: 0.8;
  font-size: 16px;
}
#main > .page-header > .content
{
  position: relative;
  margin-top: 20px;
}

#main > .page-header > .content > .btn-fold
{
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 45px;
  bottom: -40px;
  height: 40px;
  background: none;
  color: #fff;
  opacity: .4;
}
#main > .page-header > .content > .btn-fold:hover
{
  background: rgba(0,0,0,.15);
  text-decoration: none;
  opacity: 1;
}
#main > .page-header > .content > .btn-fold > i
{
  font-size: 28px;
}

body.doc-start .page-header
{
  /*background-color: #3280fc;*/
}
body.doc-start #main > .page-header
{
  background-color: #3280fc;
}
body.doc-start #main > section > h3:before
{
  background-color: #3280fc
}
body.doc-start #main > section > h4:before
{
  border-color: #3280fc
}
body.doc-start .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>li.nav-heading:hover, body.doc-start .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>li>a:hover
{
  background-color: #3280fc;
}
body.doc-start .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>.active>a, body.doc-start .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>.active>a:hover
{
  box-shadow: 2px 0 0 #3280fc inset;
}

body.doc-components .page-header
{
  /*background-color: #d2322d;*/
}
body.doc-components #main > .page-header
{
  background-color: #d2322d;
}
body.doc-components #main > section > h3:before
{
  background-color: #d2322d
}
body.doc-components #main > section > h4:before
{
  border-color: #d2322d
}
body.doc-components .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>li.nav-heading:hover, body.doc-components .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>li>a:hover
{
  background-color: #d2322d;
}
body.doc-components .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>.active>a, body.doc-components .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>.active>a:hover
{
  box-shadow: 2px 0 0 #d2322d inset;
}

body.doc-basic .page-header
{
  /*background-color: #229F24;*/
  /*color: #229f24;*/
}
body.doc-basic #main > .page-header
{
  background-color: #229F24;
}
body.doc-basic #main > section > h3:before
{
  background-color: #229F24
}
body.doc-basic #main > section > h4:before
{
  border-color: #229F24
}
body.doc-basic .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>li.nav-heading:hover, body.doc-basic .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>li>a:hover
{
  background-color: #229F24;
}
body.doc-basic .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>.active>a, body.doc-basic .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>.active>a:hover
{
  box-shadow: 2px 0 0 #229F24 inset;
}

body.doc-controls .page-header
{
  /*background-color: #39b3d7;*/
}
body.doc-controls #main > .page-header
{
  background-color: #39b3d7;
}
body.doc-controls #main > section > h3:before
{
  background-color: #39b3d7
}
body.doc-controls #main > section > h4:before
{
  border-color: #39b3d7
}
body.doc-controls .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>li.nav-heading:hover, body.doc-controls .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>li>a:hover
{
  background-color: #39b3d7;
}
body.doc-controls .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>.active>a, body.doc-controls .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>.active>a:hover
{
  box-shadow: 2px 0 0 #39b3d7 inset;
}

body.doc-views .page-header
{
  /*background-color: #8957a1;*/
}
body.doc-views #main > .page-header
{
  background-color: #8957a1;
}
body.doc-views #main > section > h3:before
{
  background-color: #8957a1
}
body.doc-views #main > section > h4:before
{
  border-color: #8957a1
}
body.doc-views .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>li.nav-heading:hover, body.doc-views .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>li>a:hover
{
  background-color: #8957a1;
}
body.doc-views .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>.active>a, body.doc-views .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>.active>a:hover
{
  box-shadow: 2px 0 0 #8957a1 inset;
}

body.doc-javascript .page-header
{
  /*background-color: #e48600;*/
}
body.doc-javascript #main > .page-header
{
  background-color: #e48600;
}
body.doc-javascript #main > section > h3:before
{
  background-color: #e48600
}
body.doc-javascript #main > section > h4:before
{
  border-color: #e48600
}
body.doc-javascript .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>li.nav-heading:hover, body.doc-javascript .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>li>a:hover
{
  background-color: #e48600;
}
body.doc-javascript .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>.active>a, body.doc-javascript .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>.active>a:hover
{
  box-shadow: 2px 0 0 #e48600 inset;
}

body.doc-explore .page-header
{
  /*background-color: #81511c;*/
}
body.doc-explore #main > .page-header
{
  background-color: #81511c;
}
body.doc-explore #main > section > h3:before
{
  background-color: #81511c
}
body.doc-explore #main > section > h4:before
{
  border-color: #81511c
}
body.doc-explore .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>li.nav-heading:hover, body.doc-explore .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>li>a:hover
{
  background-color: #81511c;
}
body.doc-explore .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>.active>a, body.doc-explore .navbar-fixed-left.navbar-collapsed.navbar-inverse .navbar-nav>.active>a:hover
{
  box-shadow: 2px 0 0 #81511c inset;
}

/* .icons list */
.icons ul {padding: 0;}
.icons li
{
  cursor: pointer;
  float: left;
  width: 150px;
  line-height: 25px;
  list-style: none;
  padding: 2px 10px;
  white-space: nowrap;
}
.icons li > i {display: inline-block; width: 20px}
.icons li:hover {background-color: #ffe9a8;}

/* examples */
@-webkit-keyframes glow
{
    0% {
        -webkit-box-shadow: 0 0 12px rgba(71,164,71, 0.1);
        border-color: rgba(71, 164, 71, 0.9);
    }
    100% {
        -webkit-box-shadow: 0 0 18px rgba(26,128,26, 0.8),0 0 12px rgba(71,164,71, 0.5);
        border-color: rgba(26, 128, 26, 1.0);
    }
}
.example
{
  position: relative;
  padding: 20px;
  margin: 0 0 15px;
  border-style: solid;
  background-color: #fff;
  border: 1px solid #ddd;
  outline: none;
  transition:all 0.3s;
}
.example:before
{
  position: absolute;
  background-color: rgba(0,0,0,0.1);
  display: block;
  top: -1px;
  right: -41px;
  width: 41px;
  line-height: 41px;
  position: absolute;
  content: "\e6f6";
  font-family: ZenIcon;
  font-size: 28px;
  text-align: center;
  color: #fff;
  transition: all ease-in-out .3s;
}
.example:focus
{
  box-shadow:0px 1px 15px rgba(0,0,0,0.5);
  -webkit-animation-name: glow;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out
  -webkit-backface-visibility: hidden;
}
.example:focus:before
{
  text-shadow:1px 1px 1px rgba(0,0,0,0.5);
  content: "\e640";
  background: #47a447;
}
.example.no-padding
{
  padding: 0;
}
.example > *:last-child
{
  margin-bottom: 0;
}
.example + pre, pre + pre
{
  margin: -15px 0 15px;
  padding: 10px 20px;
  border-radius: 0;
  border: 1px solid #DDD;
  border-top: none;
}
pre
{
  border-radius: 0;
}

.example > .modal {display: block; position: static;}

.popover-examples .popover
{
  position: relative;
  display: block;
  float: left;
  width: 260px;
  margin: 20px;
}

.media
{
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
  color: #aaa;
  background-color: #eee;
  border:1px solid #ddd;
  font-size: 20px;
}

a.avatar
{
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #e5e5e5;
  border-radius: 4px;
  margin-top: 5px!important;
  color:#aaa!important;
  font-size: 30px;
  line-height: 40px;
}

a.avatar > i {font-size: 28px}

a.avatar:hover {text-decoration: none}
