body {
  font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
}

#home-container {
  padding: 10px;

  .panel.item {
    .title {
      height: 42px;
      padding-left: 15px;
      padding-right: 15px;
      display: flex; 
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      border-bottom: 1px solid #f6f6f6;
    }

    .content {
      padding: 15px;
      font-size: 36px;
      line-height: 36px;
      color: #666;
      
      > p:first-child {
        padding-top: 5px;
        padding-bottom: 10px;
      }

      > p:nth-child(2) {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
      }

      p {
        margin: 0;
        line-height: normal;

        .icon {
          padding-left: 6px;
        }
      }
      
    }
  }

  .table {
    td {
      a {
        text-decoration: none;
      }

      a:first-child {
        margin-right: 12px;
      }
    }
  }

  #bar-chart {
    width: 100%;
    height: 400px;
  }
}

.board-item.drag-shadow {
  z-index: 9999
}
