.article
{
  padding: @article-padding;

  > header
  {
    h1,
    h2,
    h3,
    .h1,
    .h2,
    .h3
    {
      line-height: 1.5;
    }

    > .abstract,
    > dl
    {
      font-size: @font-size-small;
      padding: @article-section-padding;
      background-color: lighten(@article-abstract-bg,2%);
      border-radius: @border-radius-base;
      // border-left: @active-border-width solid darken(@article-abstract-bg, 5%);
      color: @article-abstract-color;
      > p:last-child
      {
        margin-bottom: 0;
      }
    }

    > dl
    {
      border-bottom: 1px solid darken(@article-abstract-bg, 3%);
      margin: 0;

      // + .abstract
      // {
      //   border-top: 1px solid lighten(@article-abstract-bg, 3%);
      // }

      &.pull-right
      {
        background-color: transparent;
        border: none;
      }
    }
  }

  > footer
  {
    border-top: 1px dashed darken(@article-abstract-bg, 10%);
    > p
    {
      padding: @article-section-padding;
    }
  }
}

.article-content
{
  padding: @line-height-computed 0;

  h1,h2,h3,h4,h5
  {
    padding-bottom: @line-height-computed / 4;
  }

  h1 
  {
    font-size: @article-font-size-h1;
    border-bottom: @active-border-width * 2 double @article-headings-border-color;
    &:before
    {
      content: "§ ";
    }
  }
  h2 
  {
    font-size: @article-font-size-h2;
    border-bottom: @active-border-width solid @article-headings-border-color;
    // &:before
    // {
    //   content: "◈ ";
    // }
  }
  h3 
  {
    font-size: @article-font-size-h3;
    border-bottom: @active-border-width double @article-headings-border-color;
    // &:before
    // {
    //   content: "◈ ";
    // }
  }
  h4 
  {
    font-size: @article-font-size-h4;
    border-bottom: 1px solid @article-headings-border-color;
    // padding-left: 0.5em;
    // border-left: @active-border-width * 4 solid @article-headings-border-color;
  }
  h5 
  {
    font-size: @article-font-size-h5;
    // padding-left: 0.5em;
    border-bottom: 1px dashed @article-headings-border-color;
    // border-left: @active-border-width * 4 solid @article-headings-border-color;
  }
  h6 
  {
    font-size: @article-font-size-h6;
    // padding-left: 0.5em;
    // border-left: @active-border-width * 2 solid @article-headings-border-color;
  }

  img
  {
    margin-bottom: @line-height-computed / 2;
    border-radius: @border-radius-base;
    .transition(all,@animation-speed-normal,@animation-type);
    .box-shadow(@article-img-shadow);

    &:hover
    {
      .box-shadow(@article-img-shadow-hover);
    }
  }

  dl
  {
    padding-left: 2em;
    padding-right: 2em;
  }

  table
  {
    width: 100%;
    margin-bottom: @line-height-computed;

    // Cells
    >thead,
    >tbody,
    >tfoot
    {
      >tr
      {
        >th,
        >td
        {
          padding: @table-cell-padding;
          line-height: @line-height-base;
          vertical-align: top;
          border-bottom: 1px solid @table-border-color;
          // border-top: 1px solid lighten(@table-border-color, 5%);

          .transition(all,@animation-speed-fast,@animation-type);
        }
      }
    }
    // Bottom align for column headings
    > thead > tr > th 
    {
      vertical-align: bottom;
      border-bottom: 1px solid @table-border-color;
      background-color: @table-head-bg;
    }
  }
}

body.article-content
{
  padding: 8px;
}

html[lang="zh-CN"],
html[lang="zh-cn"]
{
  .article-content p
  {
    text-indent: 2em;
  }
}
