.mindmap
{
    position: relative;
    z-index: 0;
}
.mindmap-bg
{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.mindmap-desktop
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  > .node
  {
      position: absolute;
      border-radius: 10px;
      background: #fff;
      border: 1px solid #ddd;
      padding: 10px;

      > .text {font-weight: bold}

      > .caption {display: none}
  }
}

