/// ========================================================================
/// ZUI: treemap.less
/// http://zui.sexy
/// ========================================================================
/// Copyright 2017 cnezsoft.com; Licensed MIT
/// ========================================================================

.treemap {
  text-align: center;
}

.treemap-data {display: none}

.treemap-nodes {
  -moz-user-select: none;
  -webkit-user-select: none;
  padding: 10px;
  display: inline-block;
  position: relative;
}

.treemap-node {
  display: inline-block;
}

.treemap-node-wrapper {
  display: inline-block;
  border: 1px solid #808080;
  padding: 5px 10px;
  position: relative;
  border-radius: 1px;

  a& {
    color: @color-fore;
    cursor: pointer;

    &:active,
    &:focus,
    &:hover {
      color: @color-primary;
      background-color: @color-pale;
      border-color: @color-primary;
      text-decoration: none;
    }
  }
}

.treemap-node-children {
  display: table;
  margin-top: 20px;

  > .treemap-node {
    display: table-cell;
    vertical-align: top;
  }
}

.treemap-line-top,
.treemap-line-bottom {
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -1px;
  border-right: none!important;
  border-bottom: none!important;
}

.treemap-line-top {
  top: 0;
}

.treemap-node > .treemap-line {
  position: absolute;
  left: 0;
  right: 0;
  border-right: none!important;
  border-bottom: none!important;
}
