body {
  background-color: #fff;
}

#main {
  padding: 0;

  .container {
    padding: 0;

    .panel {
      box-shadow: none;
    }
  }
  
}

.split-row>.main-col {
  padding: 0;
}

@media (max-width: 720px) {

  .split-row>.main-col {
    width: 100% !important;
  }
}

.table-files .btn {
  padding: 0 6px;
}

.main-col>.panel>.panel-body {
  padding: 5px 10px;
}

.main-col .panel-title a.active {
  color: #0c64eb
}

.main-col .block-files>.panel-body {
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.panel-title.font-normal .btn-group {
  margin-left: 20px;
}
