
// for pager.js

.pager-popover
{
  &.popover { max-width: 500px; }
  &.popover,
  > .popover-content
  {
    padding: 0;
    margin: -1px;

    > .pager
    {
      display: block;
      margin: 0;
    }
  }
}
