.chosen-container.chosen-icons .chosen-results
{
  padding: 5px;
}
.chosen-container.chosen-icons .chosen-results li {
  border-radius: @border-radius-base;
}
.chosen-container.chosen-icons .chosen-results li.group-result
{
  padding: 5px 0;
  color: #666;
  font-size: 12px;
  border-radius: 0;
}
.chosen-container.chosen-icons .chosen-results li.group-option
{
  display: inline-block;
  padding: 8px;
  font-size: 14px;
  line-height: 14px;
  width: 30px;
  text-align: center;
}
