#lightboxImg
{
  width: inherit;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  padding: 0;
  margin: 40px auto 0 auto;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border: 6px solid #fff;
  .transition(all,@animation-speed-fast,@animation-type);
}

#lightboxModal.with-caption
{
  .caption
  {
    position: relative;
    text-align: center;
    margin-top: -30px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10010;
    color: #666;
    font-weight: bold;
    .transition(all,@animation-speed-fast,@animation-type);
  }

  #lightboxImg:hover
  {
    border-bottom-width: 40px;
  }
}
