#lightboxModal
{
  .modal-dialog
  {
    border: none;
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 0;

    &:hover,
    &:focus
    {
      .close
      {
        .opacity(1);
      }

      .controller
      {
        outline: none;
        .opacity(.9);
        > .icon
        {
          box-shadow:1px 1px 16px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  .close
  {
    display: block;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #333;
    position: absolute;
    right: -13px;
    top: -15px;
    color: #fff;
    border: 2px solid #fff;
    -webkit-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    .opacity(.9);
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  }

  .controller
  {
    display: block;
    height: 100%;
    line-height: 100%;
    top: 0;
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    padding: 10px 20px;
    color: #fff;
    background:none;
    border: none;
    .opacity(0.05);
    transition:all 0.4s;

    > .icon
    {
      display: inline-block;
      -webkit-radius:25px;
      -moz-border-radius:25px;
      border-radius:25px;
      background-color: #333;
      width: 50px;
      height: 50px;
      line-height: 50px;
      border: 2px solid #fff;
    }

    &:hover
    {
      .opacity(1);
    }

    &.prev
    {
      left: 0;
    }

    &.next
    {
      right: 0;
    }
  }
}
#lightboxImg
{
  width: inherit;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  padding: 0;
  margin: 0 auto;
  border: 6px solid #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  .transition(all,@animation-speed-normal,@animation-type);
}

// #lightboxModal.with-caption
// {
//   .caption
//   {
//     position: relative;
//     text-align: center;
//     margin-top: -30px;
//     font-size: 12px;
//     white-space: nowrap;
//     z-index: 10010;
//     color: #777;
//     font-weight: bold;
//     text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
//     .transition(all,@animation-speed-normal,@animation-type);
//   }

//   #lightboxImg:hover
//   {
//     border-bottom-width: 40px;
//   }
// }
