.messager {
  position: fixed;
  color: @color-light;
  background-color: @color-dark;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: @messager-radius;
  padding-right: 50px;
  max-width: 80%;
  z-index: 99999;

  &.top {
    top: 20px;
  }

  &.top-left {
    top: 20px;
    left: 20px;
  }

  &.top-right {
    top: 20px;
    right: 20px;
  }

  &.bottom {
    bottom: 20px;
  }

  &.bottom-left {
    bottom: 20px;
    left: 20px;
  }

  &.bottom-right {
    bottom: 20px;
    right: 20px;
  }
}

.messager-content {
  padding: 10px 20px;

  > [class^='icon-'] {
     display: inline-block;
     margin-right: 8px;
  }
}

.messager-actions {
  position: absolute;
  right: 15px;
  top: 8px;

  > .action {
    color: #fafafa;
    color: rgba(255, 255, 255, 0.6);
    background: none;
    border: none;
    text-shadow: none;

    &.close {
      opacity: 1;
      font-size: 20px;
      font-weight: normal;
    }

    &:hover {
      color: #fff;
    }
  }
}

.messager-primary {
  background-color: @state-primary-inverse-bg;
}

.messager-success {
  background-color: @state-success-inverse-bg;
}

.messager-info {
  background-color: @state-info-inverse-bg;
}

.messager-warning {
  background-color: @state-warning-inverse-bg;
}

.messager-danger {
  background-color: @state-danger-inverse-bg;
}

.messager-important {
  background-color: @state-important-inverse-bg;
}

.messager-special {
  background-color: @state-special-inverse-bg;
}

