html, body {
  height: 100%;
}

.p {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 17px;
}

a {
  text-decoration: none!important;
}

.action-btn {
  display: inline-flex;
  width: 20px;
  height: 20px;
  border: 2px solid;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #16a8f8;
  margin: 0 2px;

  &:hover {
    color: #0c60e1;
  }
}

.p1 {
  color: #d50000;
  border: 2px solid #d50000;
}

.p2 {
  color: #ff9800;
  border: 2px solid #ff9800;
}

.p3 {
  color: #2098ee;
  border: 2px solid #2098ee;
}
