html,
body {
  @apply -w-full -h-full;
}
html {
  @apply -overflow-hidden;
}
body {
  @apply -overflow-auto -pl-48;
}

aside {
    @apply -w-48;
    background: linear-gradient(125deg, var(--color-primary-900) 0%, var(--color-primary-900) 40%, var(--color-primary-800) calc(40% + 1px), var(--color-primary-800) 60%, var(--color-primary-700) calc(60% + 1px), var(--color-primary-700) 72%, var(--color-primary-500) calc(72% + 1px), var(--color-primary-500) 100%);
}
.dark aside {
    @apply -w-48;
    background: linear-gradient(125deg, var(--color-primary-100) 0%, var(--color-primary-100) 40%, var(--color-primary-200) calc(40% + 1px), var(--color-primary-200) 60%, var(--color-primary-300) calc(60% + 1px), var(--color-primary-300) 72%, var(--color-primary-500) calc(72% + 1px), var(--color-primary-500) 100%);
}
#libPage {
    @apply -p-5 -pr-48;
}
.at-home > aside {
    @apply -w-full;
}
.at-home #libNav {
    @apply -flex -flex-row -flex-wrap -gap-x-8;
}
.at-home #libNav > li {
    @apply -w-full -my-2 -py-2 -bg-black/10 -text-center;
}
.at-home #libNav > a {
    @apply -w-48 -py-2 -justify-start;
}

#libPage > h1 {
    @apply -mb-5 -mt-5;
}
#libPage > h2 {
    @apply -mb-3 -mt-5;
}
#libPage > h3 {
    @apply -mb-2 -mt-5;
}
#libPage > h4, #libPage > h5, #libPage > h6 {
    @apply -mb-2 -mt-5;
}
#libPage > p {
    @apply -mb-2;
}
#libPage > pre {
    @apply -mb-2 -border -border-gray-200 -overflow-y-auto -max-h-96;
}
pre.hljs {
    @apply -bg-gray-100;
}
pre[data-lang] {
    @apply -relative;
}
pre[data-lang]::after {
    content: attr(data-lang);
    @apply -absolute -block -top-0 -right-0 -bg-gray-300 -px-1 -text-sm -text-gray-500;
}
.example {
    @apply -mb-2 -p-4 -border -border-gray-200;
}
.example + pre {
    @apply -mt-[-0.5rem] !-border-t-0;
}

.table-of-contents ul,
.table-of-contents ol {
    @apply -list-disc -pl-5;
}
.table-of-contents {
    @apply -fixed -right-4 -top-10 -w-36 -border-l-4 -border-l-primary-200 -px-5 -leading-6;
}
.table-of-contents > ol,
.table-of-contents > ol > li > ol {
    @apply -list-none -pl-0;
}
.table-of-contents > ol > li > a {
    @apply -hidden;
}
.table-of-contents > ol > li > ol > li,
.table-of-contents > ol > li > ol > li > a {
    @apply hover:-text-primary-500 -text-ellipsis -overflow-hidden -whitespace-nowrap;
}
