// Extra small screen / phone
@screen-xs:                  480px;
@screen-phone:               @screen-xs;

// Small screen / tablet
@screen-sm:                  768px;
@screen-tablet:              @screen-sm;

// Medium screen / desktop
@screen-md:                  992px;
@screen-desktop:             @screen-md;

// Large screen / wide desktop
@screen-lg:                  1200px;
@screen-lg-desktop:          @screen-lg;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm - 1);
@screen-sm-max:              (@screen-md - 1);
@screen-md-max:              (@screen-lg - 1);

@grid-columns:              12;
@grid-gutter-width:         30px;
@grid-float-breakpoint:     @screen-tablet;

// Small screen / tablet
@container-tablet:            ((720px + @grid-gutter-width));
// Medium screen / desktop
@container-desktop:           ((940px + @grid-gutter-width));
// Large screen / wide desktop
@container-lg-desktop:        ((1140px + @grid-gutter-width));
